/* Programmed by Christopher Barber */
html{
    background-color: rgba(255, 65, 0, 0.8);
    background-image: url('../img/AutumnWallpaperGif.gif');
    background-repeat: no-repeat;		
	background-position: top;	
	background-size: cover;
	height: 100vh;
    font-family: 'IM Fell English SC', serif;
}
#NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;       
    border-style: solid;
    border-color: black;
    font-size: 30px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{     
    width: 60%;
    font-size: clamp(1em, 2vw, 1.4em);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 40px;
}
h2, h3 {
    font-size: 25px;
}
.html-spooky
{
    background-color: rgba(9, 9, 9, 0.8);
    background-image: url('../img/moon.gif');
}
.autumn-class {
    background-color: rgba(255, 65, 0, 0.8);
    border-style: solid;
    border-color: black; 
    padding: 10px;
    margin: 5px;
}
.spooky-class{
    background-color: rgba(9, 9, 9, 0.6); 
    border-color: white;
    border-style: double;
    border-width: 5px;
    color: white;       
}
.spooky-button {    
    left: 0px;
    width: 250px;
    height: 50px;
    font-size: 25px;    
    border-radius: 30%;
    border-color: red;
    border-width: 7px;
    background-color: black;
    color: white;    
    font-family: 'IM Fell English SC', serif;
}
.spooky-button:hover {
    background-color: red;
}
.charlie-image { 
    background: url('../img/Halloween2.gif');
}
.castle-image {
    background: url('../img/castle.gif');
}
a:link{
    color: black;
}
.nav-elements:link {
    color: white;
}
.halloween-button {
    background-color: orangered;
    color: black;
}
.halloween-button:hover {
    background-color: black;
    color: orangered;
}