/* Programmed by Christopher Barber */
html{
    background-color: rgba(255, 65, 0, 0.8);
    background-image: url('../img/AutumnWallpaperGif.gif');
    background-repeat: no-repeat;		
	background-position: top;	
	background-size: cover;
	height: 100vh;
}
#NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;       
    border-style: solid;
    border-color: black;
    font-size: 30px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{  
    justify-content: center;
    align-items: center;
    max-width: 50%;
    font-size: 50px;
}
h2{
    max-width: 50%;
    font-size: 30px;
}
h3{        
    max-width: 50%;
    font-size: 30px;
}
p{     
    width: 80%;
    font-size: clamp(10px, 2vw, 25px);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    
}
.html-spooky
{
    background-color: rgba(9, 9, 9, 0.8);
    background-image: url('../img/moon.gif');
}
.autumn-class {
    background-color: rgba(255, 65, 0, 0.8);
    border-style: solid;
    border-color: black; 
    padding: 10px;
}
.spooky-class{
    background-color: rgba(9, 9, 9, 0.6); 
    border-color: white;
    border-style: double;
    border-width: 5px;
    color: white;    
}
#spooky-button {
    position: absolute;
    left: 0px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    border-radius: 30%;
    border-color: red;
    color: white;
    filter: drop-shadow(10);
}
#spooky-button:hover {
    background-color: red;
}
.charlie-image { 
    background: url('../img/Halloween2.gif');
}
.castle-image {
    background: url('../img/castle.gif');
}
